<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Note to Event Organiser</h4>
      </div>
      
    </div>
  </div>
</div>


<div style="float: left; width: 72%;">
  <div class="event_box" style="height: 330px;">
    
      <h2> <%= best_in_place current_user,:name,:path=> "/users",:activator => "#name-#{current_user.id}" %>
        <%= image_tag "edit1.png",:id=>"name-#{current_user.id}", :style=>"width: 15px;" %>
      </h2>

    <div style="width: 50%; float: left;">
      <div id="users_avatar"><%= image_tag @user.avatar.url(:thumb) %></div>
      <div class="avatar_form" style="display:none;">
        <input id="file" type="file" size="17" name="file" class="form-control" style="width: 38%;">
        <%= image_tag "plus.png",:id=>"uploadbutton", :style=>"width: 15px; margin-left: 83%; margin-top: -60px;" %>
      </div>
      <%= image_tag "edit1.png",:id=>"edit_user_avatar", :style=>"width: 15px; margin-left: 83%;" %>
    </div>

    <div>
      <table class="table" style="width: 50%;">
        <tr>
          <th>I can offer</th>
          <td> 
          <div id="offer-edit-<%= current_user.id%>">          
            <% if !current_user.tag_list_on(:offer_tags).blank?%>
            <div class="label-tags">
              <ul>
                <li>
                  <%= current_user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
                </li>
              </ul> 
            </div>
            <%end%>
          </div>
        </td>
          <td>
          <%= link_to(image_tag("edit1.png",:id=>"offer-#{current_user.id}", :style=>"width: 15px;"),home_offer_path,:remote=>true ) %>
          </td>
        </tr>
        <tr>
          <th>I'm looking for</th>
          <td>           
            <div id="looking_for-edit-<%=current_user.id%>">
              <% if !current_user.tag_list_on(:looking_for_tags).blank?%>
              <div class="label-tags">
                <ul>

                  <li><%= current_user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
                  </li>
                </ul> 
              </div>
              <%end%>
            </div>
          </td>
          <td>
           <%= link_to(image_tag("edit1.png",:id=>"looking_for-#{current_user.id}", :style=>"width: 15px;"),home_looking_for_path,:remote=>true ) %>
           </div>
          </td>
        </tr>
        <tr>
          <th>Company</th>
          <td><%= best_in_place current_user, :company,:path=> "/users",:activator => "#company-#{current_user.id}" %></td>
          <td><%= image_tag "edit1.png",:id=>"company-#{current_user.id}", :style=>"width: 15px;" %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="event_box">
    <p><%= best_in_place current_user, :description,:path=> "/users",:activator => "#description-#{current_user.id}",:type => :textarea %></th>
         <%= image_tag "edit1.png",:id=>"description-#{current_user.id}", :style=>"width: 15px;" %>
    </p>
  </div>

  <div  class="event_box">
    <table width="282px" cellpadding="10" class="table">
      <tr>
        <th>Email</th>
        <td><%= best_in_place current_user,:email,:path=> "/users",:activator => "#email-#{current_user.id}" %>
        </td>
        <td><%= image_tag "edit1.png",:id=>"email-#{current_user.id}", :style=>"width: 15px;" %>
        </td>
      </tr></br>
        <th>Password</th>
        <td><%= best_in_place current_user, :password,:path=> "/users" ,:activator => "#password-#{current_user.id}" %></td>
        <td><%= image_tag "edit1.png",:id=>"password-#{current_user.id}", :style=>"width: 15px;" %></td>
      </tr></br>
        <th>Address</th>
        <td><%= best_in_place current_user, :address,:path=> "/users",:activator => "#address-#{current_user.id}"%></td>
        <td><%= image_tag "edit1.png",:id=>"address-#{current_user.id}", :style=>"width: 15px;" %>
        </td>
      </tr></br>
        <th>City</th>
        <td><%= best_in_place current_user, :city_id,:path=> "/users",:activator => "#city_id-#{current_user.id}",:type => :select,:collection => City.all.collect {|a| [a.id, a.name]} %></td>
        <td><%= image_tag "edit1.png",:id=>"city_id-#{current_user.id}", :style=>"width: 15px;" %>
        </td>  
      </tr>  
    </table>
    
    <div class="col-xs-6 col-md-4">
      
    </div>
  </div>

  <div  class="event_box">
    
    <div class="col-xs-12 col-md-8"> </div>
    <div class="col-xs-6 col-md-4"> 
      
    </div>
  </div>
</div>

<div style="float: right; width: 25%; border-left: 1px solid; text-align:center;">
  <div class="event_box">
    <h4>  Social Media Stream </h4>
    <%= best_in_place current_user, :twitter,:path=> "/users",:activator => "#twitter-#{current_user.id}" %>
    <%= image_tag "edit1.png",:id=>"twitter-#{current_user.id}", :style=>"width: 15px;" %><br/><br/>
    <%= best_in_place current_user, :facebook,:path=> "/users",:activator => "#facebook-#{current_user.id}" %>
    <%= image_tag "edit1.png",:id=>"facebook-#{current_user.id}", :style=>"width: 15px;" %><br/><br/>
    <%= best_in_place current_user, :linkedin,:path=> "/users",:activator => "#linkedin-#{current_user.id}" %>
    <%= image_tag "edit1.png",:id=>"linkedin-#{current_user.id}", :style=>"width: 15px;" %><br/><br/>
  </div>
</div>

<style>

.event_box{
  
}

.col-md-9{
   border: 1px solid ;
   width: 72%;
}

.col-md-pull-9{
  right: 71%;
}

.col-md-push-3{
  left: 26%
}

</style>

<script type="text/javascript" charset="utf-8">
  $(document).on("click", ".open_my_modal", function () {
    var myModalAction = $(this).attr('id');
    $(".dynamic_action").val(myModalAction);
  });

  $("#edit_user_avatar").click(function(){
    $(".avatar_form").css('display',"block");
    $("#edit_user_avatar").css("display", "none")
  })

  $(document).ready(function(){
    $("#uploadbutton").click(function () {
      var data = new FormData();
        jQuery.each($('#file')[0].files, function(i, file) {
        data.append('file-'+i, file);
          });
      $.ajax({
          type: "POST",
          url: "/update_avatar",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          enctype: 'multipart/form-data'
      });
      return false;
    });
  });
</script>







