
<div style="float:left;font-weight:bold;font-size:25px;margin-right:20px;">
  <%= best_in_place current_user,:name,:path=> "/users" %>
  </br>
  </br>
  <%= image_tag @user.avatar.url(:thumb) %>
  <%= link_to(image_tag("edit1.png", :style=>"width: 15px;float: right;"),  edit_user_registration_path, :remote=>true ) %>
</div>
<div>
  <table>
    <tr>
      <th>I can offer</th>
      <td>           
        <% if !current_user.tag_list_on(:offer_tags).blank?%>
        <div class="label-tags">
          <ul>
            <li>
              <%= current_user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
            </li>
          </ul> 
        </div>
        <%end%>
      </td>
    </tr>
    <tr>
      <th>I'm looking for</th>
      <td>           
        <% if !current_user.tag_list_on(:looking_for_tags).blank?%>
        <div class="label-tags">
          <ul>
            <li><%= current_user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
            </li>
          </ul> 
        </div>
        <%end%>
      </td>
    </tr>
  </table><br><br>
  <table width="200px">
    <tr>
      <th>Company</th>
      <td><%= best_in_place current_user, :company,:path=> "/users" %></td>
      <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"),  edit_user_registration_path, :remote=>true ) %>
    </tr>
  </table>
</div>
<div style="margin-top: 160px;font-weight:bold;">
  <table>
    <tr>
      <th></th>
      <td ><%= best_in_place current_user, :description,:path=> "/users"%></td>
      <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"),  edit_user_registration_path, :remote=>true ) %>
    </tr></br>
  </table>
</div>
<div style="margin-top: 24px;margin-bottom: 151px;">  
  <hr size="100" width="70%" align="left">
  <table width="200px">
    <tr>
      <th>Email</th>
      <td><%= best_in_place current_user ,:email,:path=> "/users", :id=>"email_edit" %></td>
      <td><%= image_tag "edit1.png", :style=>"width: 15px;", :class=>"editable" %>
    </tr></br>
      <th>Password</th>
      <td><%= best_in_place current_user, :password,:path=> "/users"%></td>
      <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"),  edit_user_registration_path, :remote=>true ) %>
    </tr></br>
      <th>Address</th>
      <td><%= best_in_place current_user, :address,:path=> "/users"%></td>
      <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"),  edit_user_registration_path, :remote=>true ) %>
    </tr></br>
      <th>City</th>
      <td><%= best_in_place current_user, :city ,:path=> "/users"%></td>
      <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"),  edit_user_registration_path, :remote=>true ) %>
    </tr>  
  </table>
</div>

<script>


$(".editable").click(function(){
var current_user_id = "<%= current_user.id%>"
alert(current_user_id)
})
</script>


