  <legend>Sign up</legend>
  <form id="new_user" method="post" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" class="validate-form" >
    <%= form_for(@user, :url => user_registration_path) do |f| %>



<div style="float: left; width: 72%;">
  <div class="job_box" style="height: 330px;">
    <h2> 
    <%= f.text_field :name ,:class=>"form-control" ,:placeholder=>"Name" %>
    
    </h2>

    <div style="width: 50%; float: left;">
      <div id="users_avatar">
        <%=image_tag @user.avatar.url, :id=>"preview_image" ,:src=>"../assets/missing.png",:alt=>"",:style=>"max-width: 330px; max-height: 225px;" %>
        <%=f.file_field :avatar ,:class=>"form-control" ,:id=>"user_avatar" %>
      </div>
    </div>


    <div>
      <table class="table" style="width: 50%;">
      <tr>
      <th>I can offer</th>
      <td> 
      <% if !user_signed_in? %>
        <input class="tags form-control LV_valid_field" id="offer" name="offer" style="height:107px;" type="text" value = "<%=@offer%>" />

      <% else %>
        <div id="offer-edit-<%= @user.id%>">          
          <% if !@user.tag_list_on(:offer_tags).blank?%>
            <div class="label-tags">
              <ul>
              <li>
              <%= @user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
              </li>
              </ul> 
            </div>
          <%end%>
        </div>
      <% end %>
      </td>
      <% if user_signed_in? %>
        <td>
        <%= link_to(image_tag("edit.png",:id=>"offer-#{@user.id}", :style=>"width: 15px;"),home_offer_path,:remote=>true ) %>
        </td>
      <% end %>
      </tr>
      <tr>
      <th>I'm looking for</th>
      <td>  
      <% if !user_signed_in? %>
        <input class="form-control" id="looking_for" name="looking_for" placeholder="Looking For" style="height:107px;" type="text" value = "<%=@looking%>"/>
      <% else %>         
        <div id="looking_for-edit-<%=@user.id%>">
              <% if !@user.tag_list_on(:looking_for_tags).blank?%>
            <div class="label-tags">
              <ul>
              <li><%= @user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
              </li>
              </ul> 
            </div>
          <%end%>
          
          <% end %>
          </td>
          <% if user_signed_in? %>
          <td>
          <%= link_to(image_tag("edit.png",:id=>"looking_for-#{@user.id}", :style=>"width: 15px;"),home_looking_for_path,:remote=>true ) %>
        </div>
      </td>
      <% end %>
      </tr>
      <tr>
      <th>Company</th>
      <td><%=f.text_field :company ,:class=>"form-control" ,:id=>"user_company",:placeholder=>"Company"%></td>
      </tr>
      </table>
    </div>
    </div>
    
    <div class="job_box" style="margin-top:15px">
         <%=f.text_area :description,:class=>"form-control" ,:id=>"user_description"  ,:placeholder=>"Describe Yourself"  %>
    </div>

    <div  class="job_box">
      <table width="282px" cellpadding="10" class="table">
        <tr>
          <th>Email</th>
            <td><%= f.email_field :email,:class=>"form-control",:id=>"user_email" ,:placeholder=>"Email" ,:required =>"true"%>
        </tr>
        <tr>
          <th>Password</th>
            <td><%= f.password_field :password,:class=>"form-control", :id=>"user_password" ,:placeholder=>"Password" , :required =>"true" %></td>
        </tr>
          <tr>
            <th>Password Confirmation</th>
            <td><%=f.password_field :password_confirmation ,:class=>"form-control" ,:id=>"user_password_confirmation" , :placeholder=>"Password Confirmation",:required =>"true" %></td>
          </tr>
          <tr>
            <th>Type</th>
            <td>
              <label>
                <input id="user_type_startup" name="user[user_type]" type="radio" value="Startup" checked='checked' /> Startup
              </label>

              <label>
                <input id="user_type_mentor" name="user[user_type]" type="radio" value="Mentor" /> Mentor
              </label>
            
              <label>
                <input id="user_type_investor" name="user[user_type]" type="radio" value="Investor" /> Investor
              </label>
            
              <label>
                <input id="user_type_developer" name="user[user_type]" type="radio" value="Developer" /> Developer
              </label>
            </td>
          </tr>
        <tr>
          <th>Address</th>
            <td> <%= f.text_field :address ,:class=>"form-control" ,:id=>"user_address" ,:placeholder=>"Address"%></td>
        </tr>
        <tr>
          <th>City</th>
            <td> 
              <%= f.select(:city_id, options_for_select(City.all.collect {|a| [a.name, a.id]}),{},:class=>"form-control" )%> </td>

              <%#= f.select(:city_id, options_for_select(City.all.collect {|a| [a.name, a.id]}), {},:class=>"form-control") %>
        </tr> 
      </table>
    </div>

    <%=f.submit "Sign Up",:class=>"btn btn-info" , :style=>"margin-left: 60%;"%>

  </div>


  <div style="float: right; width: 25%; border-left: 1px solid; border-color:#D1D0CE; text-align:center;">
    <div class="job_box">
      <h4>  Social Media Stream </h4>
      <table width="282px" cellpadding="10" class="table">
        <tr>
          <td>
            <%=f.text_field :twitter,:class=>"form-control" ,:id=>"user_twitter" , :placeholder=>"Twitter URL" %>
          </td>
        </tr>
        <tr>
          <td>
            <%=f.text_field :facebook,:class=>"form-control" ,:id=>"user_facebook" ,:placeholder=>"Facebook URL" %>
          </td>
        </tr>
        <tr>
          <td>
              <%=f.text_field :linkedin, :class=>"form-control", :id=>"user_linkedin" ,:placeholder=>"Linkedin URL"%>
          </td>
        </tr>
      </table>
    </div>
  </div>

<%end%>

  
<script type="text/javascript" charset="utf-8">
  $(document).on("click", ".open_my_modal", function () {
    var myModalAction = $(this).attr('id');
    $(".dynamic_action").val(myModalAction);
  });

  $("#edit_user_avatar").click(function(){
    $(".avatar_form").css('display',"block");
    $("#edit_user_avatar").css("display", "none")
  })

  $(document).ready(function(){
    $("#uploadbutton").click(function () {
      var data = new FormData();
        jQuery.each($('#file')[0].files, function(i, file) {
        data.append('file-'+i, file);
          });
      $.ajax({
          type: "POST",
          url: "/update_avatar",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          enctype: 'multipart/form-data'
      });
      return false;
    });
  });
</script>

<script>
  function onAddTag(tag) {  //tags
    alert("Added a tag: " + tag);
  }
  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }
  function onChangeTag(input,tag) {
    alert("Changed a tag: " + tag);
  }

  $(function() {
    $('#offer').tagsInput({width:'auto'});
    $('#looking_for').tagsInput({width:'auto'});
  });  


  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#preview_image').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#user_avatar").change(function(){
      readURL(this);
  });



   
</script>
<script>
function hasHtml5Validation () {
  return typeof document.createElement('input').checkValidity === 'function';
}
 
if (hasHtml5Validation()) {
  $('.validate-form').submit(function (e) {
    if (!this.checkValidity()) {
      e.preventDefault();
      $(this).addClass('invalid');
      $('#status').html('invalid');
    } else {
      $(this).addClass('valid');
      $('#status').html('submitted');
    }
  });
}
</script>
<style>
.invalid input:required:invalid {
    background: #BE4C54;
}
 
.invalid input:required:valid {
    background: #17D654 ;
}

</style>


