<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password,:class=>"form-control",:autofocus => true,:style =>"width:300px;" %></div>

  <div><%= f.label :password_confirmation, "Confirm new password"%><br />
  <%= f.password_field :password_confirmation ,:class=>"form-control",:style =>"width:300px;"  %><br /></div>

  <div><%= f.submit "Change my password",:class=>"btn btn-primary" %></div>
<% end %>
<br />
<%= button_to "Sign in", new_session_path(resource_name),:class=>"btn btn-primary",:style =>"margin-left:3px;margin-top:-10px;" %>
<%= button_to "Sign up", new_user_registration_path,:class=>"btn btn-primary",:method => :get, :style =>"margin-left:80px;margin-top:-52px;"%>
<%#= render "devise/shared/links" %>
