<% if @attendee_count==1 %>
	
<% end %>

 $("#fetch-event-attendee").append("<div id=event_attendee<%=@count%>><%= escape_javascript(render :partial => 'home/fetch_event_attendees') %></div>")

$("#event_attendee<%=@count%>").hide();
$("#event_attendee<%=@count%>").slideDown("slow");


<% if @attendee_count < @total_count %> 
	<% bar_value = 100 / (@total_count) %>
	$.ajax({
		url: "/home/import_event?page=<%= @attendee_count+1 %>&admin_count=<%= (0+(params[:admin_count].blank? ? 0 : params[:admin_count].to_i))%>%>",
		type:"POST"
	});
	var width = $("#import-admin-event-bar .progress-bar").width();
	var parentWidth = $("#import-admin-event-bar .progress-bar").offsetParent().width();
	var percent = 100*width/parentWidth;
	$("#import-admin-event-bar .progress-bar").css("width",percent+<%=bar_value%>+8+"%")
<% else %>
	$("#done-admin-event").html('<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:250px;margin-bottom:20px;margin-top:10px;">Done</button>')
<% end %>