<div id="masonry-container" class="transitions-enabled clearfix masonry-brick">
	<% if !@interactions.blank? %>
	
		<% if @interactions.collect(&:action).include? "Become Speaker" %>
			<h2> Following users want to Become Speaker/Mentor </h2>
			<table class="table">
				<tr>
					<th>User Name</th>
					<th>Memo</th>
					<th>Status</th>
				</tr>
				<% @interactions.each do |interaction| %>
					<% if interaction.action == "Become Speaker" %>
						<% @request_user = User.find(interaction.user_id) %>
						<tr>
							<td> <%= @request_user.name %> </td>
							<td> <%= interaction.memo %> </td>
							<td> <% if interaction.status %>
								<h5>Accepted</h5>
								<% else %>
								<h5><%= link_to "Accept", accept_proposal_path(:interaction_id => interaction.id) %></h5>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
		<% if @interactions.collect(&:action).include? "Become Partner" %>
			<h2> Following users want to Become Partner </h2>
			<table class="table">
				<tr>
					<th>User Name</th>
					<th>Memo</th>
					<th>Status</th>
				</tr>
				<% @interactions.each do |interaction| %>
					<% if interaction.action == "Become Partner" %>
						<% @request_user = User.find(interaction.user_id) %>
						<tr>
							<td> <%= @request_user.name %> </td>
							<td> <%= interaction.memo %> </td>
							<td> <% if interaction.status %>
								<h5>Accepted</h5>
								<% else %>
								<h5><%= link_to "Accept", accept_proposal_path(:interaction_id => interaction.id) %></h5>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
		<% if @interactions.collect(&:action).include? "Attend event" %>
			<h2> Following users want to Attend Event  </h2>
			<table class="table">
				<tr>
					<th>User Name</th>
					<th>Memo</th>
					<th>Status</th>
				</tr>
				<% @interactions.each do |interaction| %>
					<% if interaction.action == "Attend event" %>
						<% @request_user = User.find(interaction.user_id) %>
						<tr>
							<td> <%= @request_user.name %> </td>
							<td> <%= interaction.memo %> </td>
							<td> <% if interaction.status %>
								<h5>Accepted</h5>
								<% else %>
								<h5><%= link_to "Accept", accept_proposal_path(:interaction_id => interaction.id) %></h5>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
		<% if @interactions.collect(&:action).include? "Contact Host" %>
			<h2> Following users want to Contact You  </h2>
			<table class="table">
				<tr>
					<th>User Name</th>
					<th>Memo</th>
					<th>Status</th>
				</tr>
				<% @interactions.each do |interaction| %>
					<% if interaction.action == "Contact Host" %>
						<% @request_user = User.find(interaction.user_id) %>
						<tr>
							<td> <%= @request_user.name %> </td>
							<td> <%= interaction.memo %> </td>
							<td> <% if interaction.status %>
								<h5>Accepted</h5>
								<% else %>
								<h5><%= link_to "Accept", accept_proposal_path(:interaction_id => interaction.id) %></h5>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
	<% else %>

		<h4 style="font-weight:bold">There is no notificationfor <%= current_user.name%>.</h4>
	<% end %>
</div>
