<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Note to Event Organiser</h4>
      </div>
      
    </div>
  </div>
</div>


<div style="float: left; width: 75%;border-bottom:1px solid;">
  <div class="event_box" >
    
    <h2> <%= @user.name %> </h2>
  <%= image_tag @user.avatar.url(:thumb) %>
  
  
    <div style="float:right;">
      <table>
        <tr>
          <th>I can offer</th>
          <td> 
          <div id="offer-edit-<%= @user.id%>">          
            <% if !@user.tag_list_on(:offer_tags).blank?%>
            <div class="label-tags">
              <ul>
                <li>
                  <%= @user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
                </li>
              </ul> 
            </div>
            <%end%>
          </div>
        </td>
         
        </tr>
        <tr>
          <th>I'm looking for</th>
          <td>           
            <div id="looking_for-edit-<%=@user.id%>">
              <% if !@user.tag_list_on(:looking_for_tags).blank?%>
              <div class="label-tags">
                <ul>

                  <li><%= @user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
                  </li>
                </ul> 
              </div>
              <%end%>
            </div>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="col-xs-6 col-md-4",style="font-weight:bold;border-bottom:1px solid;">
      <br/> 
      <div  class="city", style="font-weight:bold;">
        City
        <%= City.find(User.find(@user.id).city_id).name  %>
        <br/><br/>
        <%=  @user.description %>
      </div>
      <div style="font-weight:bold;">Events Attended</div>
    </div>
      

 

  <div  class="event_box" >
    
    <div class="col-xs-12 col-md-8"> </div>
 


    </div> 
  </div>

</div>

<div style="float: right; width: 25%; border-left: 1px solid; text-align:center;">
  <div class="event_box">
    <h4>  Social Media Stream </h4>
    <%=  @user.twitter %><br/><br/>
    <%=  @user.facebook %><br/><br/>
    <%=  @user.twitter %><br/><br/>
  </div>
</div>

<style>

.event_box{
  
}

.event_box1{
  border: 1px solid ;
}

.col-md-9{
   border: 1px solid ;
   width: 72%;
}

.col-md-pull-9{
  right: 71%;
}

.col-md-push-3{
  left: 26%
}
.city {
  width: 72%;
}


</style>

