<%= tinymce_assets %>
<script type="text/javascript" src="/assets/tinymce.js">
</script>
<div style="float: left; width: 72%;">
  <div style="height: 270px;">
    <h2 style="margin-top:20px;"> 
      <% if user_signed_in? && params[:id].to_i == current_user.id %>
        <%= best_in_place @user,:name,:path=> "/users",:activator => "#name-#{current_user.id}" %>
        <%= link_to "","#",:id=>"name-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
      <% else %>
        <%= @user.name %>
      <% end %>
    </h2>
    <h6 style="float: right; margin-left: -142px; margin-top: -25px; margin-right: 318px;">
     <b style="font-size:11px;">Joined</b>
      <% if user_signed_in? && params[:id].to_i == current_user.id %>
        <%= best_in_place current_user, :member_since,:path=> "/users",:activator => "#member_since-#{current_user.id}" %>
        <%= link_to "","#",:id=>"member_since-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
      <% else %>
        <%#= @user.member_since.strftime('%d,  %B %Y') %>
      <% end %>
    </h6>
    <h6 style="float: right; margin-top: -26px; margin-right: -262px;">
      
      <% if user_signed_in? && params[:id].to_i == current_user.id %>
        <i class="fa fa-user"></i>
        <%= best_in_place current_user, :user_type,:path=> "/users",:activator => "#user_type-#{current_user.id}",:type => :select,:collection => [["Startup", "Startup"], ["Mentor", "Mentor"], ["Investor", "Investor"], ["Developer", "Developer"]] %>
        <%= link_to "","#",:id=>"user_type-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
      <% else %>
      <h6 style="float: right; margin-top: -26px; margin-right: 82px;">
         <i class="fa fa-user"></i>
        <%= @user.user_type %>
      <% end %>
    </h6>
    <div style="width: 50%; float: left;margin-top:196px;">
      <div id="users_avatar">
        <% if !@user.avatar.blank? %>
          <%= image_tag @user.avatar.url ,:style=>"height: 221px; width: 265px; margin-top: -190px;"%>
        <% elsif user_signed_in? && params[:id].to_i == current_user.id %>
        <div class="avatar_form" style="display:none;">
          <input id="file" type="file" size="17" name="file" class="form-control" style="width: 67%;">
          <%= link_to "","#",:class=>"fa fa-plus fa-2x",:id=>"uploadbutton", :style=>"float: right;margin: -29px 43px 0px 0px;  " %>
          <%= link_to "",user_profile_path ,:class=>"fa fa-times fa-2x", :style=>"float: right;  margin: -30px 0px 0px 0px;" %>
        </div>
        <%= link_to "","#",:id=>"edit_user_avatar",:class=>"fa fa-pencil-square-o", :style=>"width: 15px; margin-left: 83%;" %>
        <% else %>      
          <%= image_tag"../assets/missing.png" ,:style=>"height: 221px; width: 265px; margin-top: -181px;"%>
        <% end %>
      </div>
     </div>

    <div>
      <table class="table" style="width: 50%;">
        <tr>
          <th>I can offer</th>
          <% if user_signed_in? && params[:id].to_i == current_user.id %>
            <td>
              <div id="offer-edit-<%= current_user.id%>">          
                <% if !current_user.tag_list_on(:offer_tags).blank?%>
                <div class="label-tags">
                  <ul>
                    <li>
                      <%= current_user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
                    </li>
                  </ul> 
                </div>
                <%end%>
              </div>
            </td>
            <td>
            <%= link_to  "",home_offer_path,:id=>"offer-#{current_user.id}",:class=>"fa fa-pencil-square-o" ,:remote=>true  %>
            </td>
          <% else %>
            <td> 
              <div>          
                <% if !@user.tag_list_on(:offer_tags).blank?%>
                <div class="label-tags">
                  <ul>
                    <li>
                      <%= @user.tag_list_on(:offer_tags).join("</li><li>").html_safe %>
                    </li>
                  </ul> 
                </div>
                <%end%>
              </div>
            </td>
          <% end %>
          
        </tr>
        <tr>
          <th>I'm looking for</th>
          <% if user_signed_in? && params[:id].to_i == current_user.id %>
            <td>           
              <div id="looking_for-edit-<%=current_user.id%>">
                <% if !current_user.tag_list_on(:looking_for_tags).blank?%>
                <div class="label-tags">
                  <ul>

                    <li><%= current_user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
                    </li>
                  </ul> 
                </div>
                <%end%>
              </div>
            </td>
            <td>
             <%= link_to "",home_looking_for_path,:id=>"looking_for-#{current_user.id}", :class=>"fa fa-pencil-square-o",:remote=>true  %>
             </div>
            </td>
          <% else %>
            <td>           
              <div id="looking_for-edit-<%=@user.id%>">
                <% if !@user.tag_list_on(:looking_for_tags).blank?%>
                <div class="label-tags">
                  <ul>

                    <li><%= @user.tag_list_on(:looking_for_tags).join("</li><li>").html_safe %>
                    </li>
                  </ul> 
                </div>
                <%end%>
              </div>
            </td>
          <% end %>
          
        </tr>
        <% if user_signed_in? && params[:id].to_i == current_user.id %>
          <tr>
            <th> Company </th>
            <td> <%= best_in_place current_user, :company,:path=> "/users",:activator => "#company-#{current_user.id}" %></td>
            <td> <%= link_to "","#",:id=>"company-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
          </tr>
          <tr>
            <th> Expertise </th>
            <td> <%= best_in_place current_user, :expertise,:path=> "/users",:activator => "#expertise-#{current_user.id}" %></td>
            <td> <%= link_to "","#",:id=>"expertise-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
          </tr>
          <tr>
            <th> Audience </th>
            <td> <%= best_in_place current_user, :audience,:path=> "/users",:activator => "#audience-#{current_user.id}" %></td>
            <td> <%= link_to "","#",:id=>"audience-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
          </tr>
          <tr>
            <th>Interested in volunteering? </th>
            <td> <%= best_in_place current_user, :volunteering,:type => :checkbox, :collection => ["No", "Yes"] ,:path=> "/users",:activator => "#volunteering-#{current_user.id}" %></td>
            <td> <%= link_to "","#",:id=>"volunteering-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>


          </tr>
          <% else %>
          <tr>
            <th><b style="font-size:12px;">Company </b></th>
            <td><%=  @user.company %></td>
          </tr>
           <tr>
            <th><b style="font-size:12px;">Expartise </b></th>
            <td><%=  @user.expertise %></td>
          </tr>
           <tr>
            <th><b style="font-size:12px;">Audiance </b></th>
            <td><%=  @user.audience %></td>
          </tr>
          <tr>
            <th><b style="font-size:12px;">Volunteering </b></th>
            <td><%=  @user.volunteering %></td>
          </tr>
          <% end %>

      </table>
    </div>
  </div>
  <br/><br/><br/>
  <div class="event_box" style="margin-top: 20px; margin-left: 9px;">

      <% if user_signed_in? && params[:id].to_i == current_user.id %>

        <b>Description </b>
        
        <br />
        <%= best_in_place current_user, :description,:path=> "/users",:activator => "#description-#{current_user.id}", :class => "tinymce",:type => :textarea ,:html_attrs => { :cols => '100', :rows => '6' }%>
        <%= link_to "","#",:id=>"description-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
      <% else %>
      <div style="margin-left:1px;">
        <%= link_to "Contact", "#", :class=>"btn btn-info open_my_modal", :id=>"Contact Host", :style=>"margin-top:-220px;margin-left:315px;"%>
        <br />
         <b style="font-size:12px;">Description </b>
        <%=  @user.description %>
      <% end %>

    </p>
  </div>  
  <% if user_signed_in? && params[:id].to_i == current_user.id %>
    <div  class="event_box">
      <table width="282px" cellpadding="10" class="table">
        <tr>
          <td style="font-weight:bold;">Email</td>
          <td><%= best_in_place current_user,:email,:path=> "/users",:activator => "#email-#{current_user.id}",:inner_class => "css_class" %>
          </td>
          <td><%= link_to "","#",:id=>"email-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Password</td>
          <td><%= best_in_place current_user, :password,:path=> "/users" ,:activator => "#password-#{current_user.id}" %></td>
          <td><%= link_to "","#",:id=>"password-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Address</td>
          <td><%= best_in_place current_user, :address,:path=> "/users",:activator => "#address-#{current_user.id}",:type => :textarea ,:html_attrs => { :cols => '95', :rows => '6' }%></td>
          <td><%= link_to "","#",:id=>"address-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
          </td>
        </tr>
      </table>
      
    </div>
  <% else %>
    <div  class="event_box" id="attendee_box">
      <legend> Events Attended </legend>
        <% if !@attendee.blank? %>        
          <div class="table_block" id="attendee_list">
            <table class="table">
              <tr>
                <% @attendee.each_with_index do |attendee, index| %>
                  <% if index+1 == 5 %> </tr><tr> <% end %>
                  <td style="text-align:center">
                    <%= participants_detail(attendee) %>
                  </td>
                <% end %>
              </tr>
            </table>  
          </div>
        <% else %>
          <h5> No events attended. </h5>
        <% end %>   
      <div class="button_block" id="attendee_block"> 
        <h1><%= @attendee.count if !@attendee.blank? %> </h1>
      </div>
    </div>
    <br/>
    <div class="event_box" id="speaker_box">
      <% if !@speakers.blank? %>
        <legend>  Events Mentored </legend>
        <div class="table_block" id="speaker_list">
          <table class="table">
            <tr>
              <% @speakers.each_with_index do |speaker, index| %>
                <% if index+1 == 5 %> </tr><tr> <% end %>
                <td style="text-align:center">
                  <%= participants_detail(speaker) %>
                </td>
              <% end %>
            </tr>
          </table>
        </div>
      <% else %>
        <h4> No events mentored. </h4>
      <% end %>
      <div class="button_block" id="speaker_block"> 
        <h1><%= @speakers.count if !@speakers.blank? %> </h1>
      </div>
    </div>

    <br/>
    <div  class="event_box" id="partner_box"> 
      <% if !@partners.blank? %>
        <legend> Events Partnered  </legend>
        <div class="table_block"  id="partner_list">
          <table class="table">
            <tr>
              <% @partners.each_with_index do |partner, index| %>
                <% if index+1 == 5 %> </tr><tr> <% end %>
                <td style="text-align:center">
                  <%= participants_detail(partner) %>
                </td>
              <% end %>
            </tr>
          </table>
        </div>
      <% else %>
        <h4> No events partnered. </h4>
      <% end %>
      <div class="button_block" id="partner_block"> 
        <h1><%= @partners.count if !@partners.blank? %> </h1>
      </div>
    </div>
  <% end %>
  <br/>
  <div class="event_box" style="margin-left:8px;margin-top:-32px;">
        <p> 
          <% if user_signed_in? && params[:id].to_i == current_user.id %>
          <b>City </b>
            <%= best_in_place current_user, :city_id,:path=> "/users",:activator => "#city_id-#{current_user.id}",:type => :select,:collection => City.all.collect {|a| [a.id, a.name]} %>
            <%= link_to "","#",:id=>"city_id-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
          <% else %>
          <div>
            <b>City </b>
            <%= City.find(User.find(@user.id).city_id).name if !@user.city_id.nil? %>
          </div>
          <% end %>
          
          <br/><br/>
        </p>
      </div>
</div> 
  <% if user_signed_in? && params[:id].to_i == current_user.id %>    
  <div style="float: right; width: 25%; text-align:center;">
    <div class="event_box">
      <h4 >  Social Media Stream </h4>
      <table align="center">
        <tr>
          <td><i class="fa fa-twitter fa-2x"></i></td>
          <td><%= best_in_place current_user, :twitter,:path=> "/users",:activator => "#twitter-#{current_user.id}" %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= link_to "","#",:id=>"twitter-#{current_user.id}", :class=>"fa fa-pencil-square-o" %>
          </td>
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
          <td><i class="fa fa-facebook-square fa-2x"></i></td>
          <td><%= best_in_place current_user, :facebook,:path=> "/users",:activator => "#facebook-#{current_user.id}" %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= link_to "","#",:id=>"facebook-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
          <td><i class="fa fa-linkedin-square fa-2x"></i></td>
          <td><%= best_in_place current_user, :linkedin,:path=> "/users",:activator => "#linkedin-#{current_user.id}" %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= link_to "","#",:id=>"linkedin-#{current_user.id}", :class=>"fa fa-pencil-square-o" %></td>
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
          <%if @user.source == "M" %>
          <td><%= link_to(image_tag("../assets/meetup_logo.png", :style=>"width:50px;float:right"),"#{@user.meetup_member_url}",:target=>"blank") %></td> 
          <% end %>         
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
           <%if @user.source == "E" %>
          <td><%= link_to(image_tag("../assets/eventbrite_logo.png", :style=>"width:50px;float:right"),"#") %></td>  
          <% end %>        
        </tr>
      </table>
    </div>

  <% else %>
    <div style="margin-top:-640px;margin-left:895px; width: 25%; text-align:center;">
      <h4 >  Social Media Stream </h4>
      <table align="center">
        <tr>
          <td><i class="fa fa-twitter fa-2x"></i></td>
          <td><%=  @user.twitter %></td>
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
          <td><i class="fa fa-facebook-square fa-2x"></i></td>
          <td><%=  @user.facebook %></td>
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
          <td><i class="fa fa-linkedin-square fa-2x"></i></td>
          <td><%=  @user.linkedin %></td>
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
          <%if @user.source == "M" %>
          <td><%= link_to(image_tag("../assets/meetup_logo.png", :style=>"width:50px;float:right"),"#{@user.meetup_member_url}",:target=>"blank") %></td> 
          <% end %>         
        </tr>
        <tr>
          <td><br /></td>
          </tr>
        <tr>
           <%if @user.source == "E" %>
          <td><%= link_to(image_tag("../assets/eventbrite_logo.png", :style=>"width:50px;float:right"),"#") %></td> 
          <% end %>         
        </tr>
      </table>
    </div>
  <% end %>
 </div> 



<style>

.event_box{
 
}

.table_block{
  width: 80%;
  float: left;
}
.button_block{
  float: right;
  text-align:center;
  width: 20%;
}
legend{
  margin-bottom: -1px;
}
.css_class {
    width:300px;
}

</style>

<script>
  var speakers_height = $("#speaker_list").height();
  var partner_height = $("#partner_list").height();
  var attendee_height = $("#attendee_list").height();

  $("#attendee_box").css("height", attendee_height+40)
  $("#speaker_box").css("height", speakers_height+40)
  $("#partner_box").css("height", partner_height+40)

  $("#edit_user_avatar").click(function(){
    $(".avatar_form").css('display',"block");
    $("#edit_user_avatar").css("display", "none")
  })

  $(document).ready(function(){
    $("#uploadbutton").click(function () {
      var data = new FormData();
        jQuery.each($('#file')[0].files, function(i, file) {
        data.append('file-'+i, file);
          });
      $.ajax({
          type: "POST",
          url: "/update_avatar",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          enctype: 'multipart/form-data'
      });
      return false;
    });
  });
</script>

