<div  class="speaker">
  <%= image_tag "missing.png", :style=>"height: 63px; width:73px;" %>
</div>
<div Style="height: 34px; width:73px; ">
<%= form_for @add_event_user, :url=> add_more_path, :remote=>true do |f| %>
	<%= f.hidden_field :event_id, :value=>@event.id %>

	<%= f.text_field :user_id , :id=>"event_user_speaker_tokens"%>

	<%= f.hidden_field :event_type, :id=>"dynamic_speaker", :value =>"Speaker" %>
	<br/>
   <%= button_tag(type: "submit" ,:class=>"transparent_btn plus_speakers") do %>
     <i class="fa fa-plus fa-2x"></i>
     <%end%>
     <%= link_to("",url_for(params) ,:class=>"cancel_speakers fa fa-times fa-2x") %>

<% end %>
</div>
<script>
  $(function() {
    $("#event_user_speaker_tokens").tokenInput("/events/<%= params[:id]%>.json", {
      crossDomain: false,
      prePopulate: $("#event_user_speaker_tokens").data("pre"),
      theme: "facebook",
      tokenLimit :1,
      preventDuplicates: true
    });
  });
</script>