<div Style="height: 34px; width:73px;margin:-3px 24px -7px 89px; ">
<%= form_for @add_event_user, :url=>venue_change_path, :remote=>true do |f| %>
	<%= f.hidden_field :event_id, :value=>@event.id %>

	<%= f.text_field :user_id, :id=>"event_change_venue_tokens" %>

	<%= f.hidden_field :event_type, :id=>"dynamic_partner" %>
	<%= image_submit_tag("plus.png", :style=>"margin: 5px 60px -11px 87px;") %>
<% end %>
</div>
<script>
  $(function() {
    $("#event_change_venue_tokens").tokenInput("/events/<%= params[:id]%>.json", {
      crossDomain: false,
      prePopulate: $("#event_change_venue_tokens").data("pre"),
      theme: "facebook",
      tokenLimit: 1,
      preventDuplicates: true
    });
  });
</script>