<div style="height: 34px; width:73px;margin:-3px 24px -7px 89px; ">
<%= form_for @add_event_user, :url=>venue_change_path, :remote=>true do |f| %>
	<%= f.hidden_field :event_id, :value=>@event.id %>

	<%= f.text_field :user_id, :id=>"event_change_venue_tokens" %>

	<%= f.hidden_field :event_type, :id=>"dynamic_partner" %>
	<%= button_tag(type: "submit" ,:class=>"transparent_btn plus_venue") do %>
   <i class="fa fa-plus fa-2x"></i>
   <%end%>
   <%= link_to("",event_path ,:class=>"cancel_venue fa fa-times fa-2x") %>
<% end %>
</div>
<script>
  $(function() {
    $("#event_change_venue_tokens").tokenInput("/events/<%= params[:id]%>.json", {
      crossDomain: false,
      prePopulate: $("#event_change_venue_tokens").data("pre"),
      theme: "facebook",
      tokenLimit: 1,
      preventDuplicates: true
    });
  });
</script>