<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Featured</th>
      <th>Banner File</th>
      <th></th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @banners.each_with_index do |banner, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= banner.featured %></td>
        <td><%= banner.file_file_name %></td>
        <td><%= link_to(image_tag("upload.png", :style=>"width: 15px;"), event_path(format: "img", banner_id: banner.id, id: @event.id )) %></td>
        <td><%= link_to(image_tag("trash.png", :style=>"width: 15px;"), banner_destroy_path(banner_id: banner.id), :method=>"POST", confirm: "Are you sure?", :remote=>true) %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<div class="add_more_block" style="display:none;">
  <label class="col-lg-2 control-label" style="width: 75px;">Banner: </label>

  <input id="file" type="file" size="17" name="file" class="form-control" style="float:left; width: 46%;">

  <label class="col-lg-2 control-label"style="width: 93px;">Featured : </label>
  <select id="banner_feature" class="form-control dropdown_form" style="width: 170px; " name="banner[][feature]">
    <option value="1">Yes</option>
    <option value="0">No</option>
  </select>
  <%= image_tag "right_arrow.png",:id=>"uploadbutton", :style=>"width: 20px; margin-left: 97%; margin-top: -60px;" %>
</div>
<%= image_tag "plus.png", :style=>"float:right",:title=>"Add more banners", :class=>"add_more" %>



<script>
$(".add_more").click(function(){
    $(".add_more_block").css("display", "block");
    $(".add_more").css("display", "none");
})

$(document).ready(function(){
  $("#uploadbutton").click(function () {
    if ($('#file').val() != "") {
      var feature = $("#banner_feature").val();
      var event_id = "<%= @event.id %>";
      var data = new FormData();
        jQuery.each($('#file')[0].files, function(i, file) {
          data.append('file-'+i, file);
          data.append('featured', feature);
          data.append('event_id', event_id);
        });
      $.ajax({
          type: "POST",
          url: "/add_banners",
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          enctype: 'multipart/form-data'
      });
      return false;
    }
    else{
      alertify.alert("Please choose a file to upload")
    }
  });
});
</script>