<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix masonry-brick">
	<% if !@events.blank? %>
		<% @events.each do |event| %>

			<div class="box panel default-panel col3">

			  <div >

			  	<div class="panel-heading">

      				<h4 class="panel-title"><%= truncate(event.title, :length => 30) %></h4>

				</div>
			      
			
			   <div class="panel-body">

			    <div class="thumbnail">			    	
			      <% if !event.event_banners.blank? %>
			      	<%= image_tag event.event_banners.first.file.url(:medium),
			      	:style=>"height: 200px;"  %>
			      <%else%>
			      	<%= image_tag "Fantasy_wallpapers_174.jpg", :style=>"height: 200px;" %>
			      <% end %>

			      

			      	<div class="caption">
			        
				  	<div class="well well-sm" style="height:131px">

					    <p><b> Date : </b>
					    <%= event.s_date.strftime("%e %b %Y") if !event.s_date.nil?  %>
					    <b> to </b>          
					    <%= event.e_date.strftime("%e %b %Y") if !event.e_date.nil?  %>

					    <div style="time">
					    	<b > Time : </b>
								<%= event.s_time %><b>  to </b>
								<%= event.e_time %></p>
				   		</div>
				   		<p><b> City : </b>
				   			
					   	<%= event.event_users.where(event_type: "Venue").first.user.try(:city).try(:name) if !event.event_users.where(event_type: "Venue").first.nil? %>       
				   		 <p><%= truncate(event.description, :length => 40)  %></p>
				   	</div>	 

			        
			        	<div class="row">
			        		<p class= "pull-left">
				        	<%= link_to 'Attend',event,  :class=>"btn btn-xs btn-primary" %>
				        	</p>
				        	<p class= "pull-right">
				            <%= link_to 'Learn More',event,  :class=>"btn btn-xs btn-info"%>
				        	</p>
			        	</div>
					</p>
			      </div>
			    </div>
			   </div>  
			  </div>
			</div>		
		<% end %>
	<% else %>
	<% if params[:action] == "event_search" %>
	<h4 class="event_search">
	There is no event for <%= City.find(params[:id]).name %>.</h6>
	<% end %>
	<% if params[:action] == "event_search_type" %>
	<h4 class="event_search">
	There is no event for <%= EventType.find(params[:id]).name %>.</h6>
	<% end %>
	<% if params[:action] == "search" %>
	<h4><b>
	There is no event.</b></h4>
	<% end %>
	<% end %>
</div>

<div style="display:block;" >
	<%= link_to 'Add your Event',"#", :class=>"btn btn-sm btn-danger", :id=>"add_new_event" %>
</div>



<script>
$("#add_new_event").click(function(){
	var signed_in = '<%= user_signed_in? %>'

    if(signed_in == "true") {
    	$(".search_event").html("<%= escape_javascript(  render :partial => 'events/form' ) %>")
    }
    else{
      alertify.alert("You must login to continue");
      return false; 
    }
})

</script>