<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<br/>
<br/>
<% if user_signed_in?%>
  <%= form_for(Event.new, :html=>{:class=>"form-horizontal", :multipart=>true}) do |f| %>
    <fieldset>
      <legend>Add a New Event</legend>
      
      <div style="float: left; width: 72%;">
        <div class="event_box">
          <%= f.hidden_field :user_id, :value=>current_user.id %>
          <h2>
             <%= f.text_field :title, :class=>"form-control", :placeholder=>"Title of the Event"%>
          </h2>
          <div class="col-lg-10 add_more_block" >
            <label class="col-lg-2 control-label" style="margin-left: -60px;">Upload Image : </label>
            <%= file_field_tag 'banner[][file]', :class=>"form-control", :style=>"float:left; width: 52%;" %>
            <label class="col-lg-2 control-label" style="width: 93px; margin-left: -40px;">Featured : </label> <%= select_tag("banner[][feature]", options_for_select([["Yes",1],["No",0]]), :class=>"form-control dropdown_form" )%>
            <%= image_tag "plus.png", :style=>"margin-top: 7px; margin-left: 30px;",:title=>"Add more banners", :class=>"add_more" %>
          </div>
          <p style="height:20px;">
          </p>
          <div style="width: 300px; float: left;">
            <p><b> Start </b>
              <%= f.text_field :s_date, :class=>"form-control", :placeholder=>"Start Date"%> </p>
              <div class='input-append bootstrap-timepicker-component' style='display: inline;'>

                <%= f.text_field :s_time, :class=>"form-control", :placeholder=>"Start Time"%>
              </div>
          </div> 
          <div style="width: 20px; float: left; margin-left: 30px; margin-top: 45px;">
            <b> To </b> 
          </div>
          <div style="margin-left: 389px; ">
            <p><b>  End </b>
              <%= f.text_field :e_date, :class=>"form-control", :placeholder=>"End Date"%></p>
              <div class='input-append bootstrap-timepicker-component' style='display: inline;'>

                <%= f.text_field :e_time, :class=>"form-control", :placeholder=>"End Time"%>
              </div>
          </div>
          <br/><br/>
          <p>
            <%= f.text_area :description , :class=>"form-control" , :placeholder=>"Description of the Event" %>
          </p>

          <p>
            <%= f.text_field :twitter_hash_tag , :class=>"form-control", :placeholder=>"Twitter Hash Tag" %>
          </p>
            

        </div>  
        <div class="form-group">
          <div class="col-lg-10">
            <%= f.submit :class=>"btn btn-primary" %>
          </div>
        </div>  
      </div>

      <div style="float: right; width: 25%; border-left: 1px solid; text-align:center">
        <div style="margin-left:20px">
          <div class="event_box">
            <h4>  Host </h4>
            <b><%= link_to current_user.name, user_profile_path(id: current_user.id) if !current_user.nil? %></b><br/><br/>
            <%=  link_to(image_tag(current_user.avatar.url(:thumb), :style=>"width: 75%; height: 160px;"),user_profile_path(id: current_user.id) ) if !current_user.nil? %> 
          </div>

          <div class="event_box">
            <h4>  Venue </h4>
            <%= image_tag "Fantasy_wallpapers_174.jpg", :style=>"width: 75%; height: 160px;" %><br/><br/>
            <b> Address </b> <br/><%= current_user.address if !current_user.nil? %><br/><br/>
            <b> City </b> <%= City.find(current_user.city_id).name %> <br/><br/>
            <img src="http://maps.google.com/maps/api/staticmap?size=155x155&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= City.find(current_user.city_id).name if !current_user.nil? %>,IN" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img> 
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>


<style>
.dropdown_form{
  width: 150px !important;
  float:left;
}
.add_more_block{
  width: 100%;
}
</style>

<script>
  $(".add_more").click(function(){
    $(".add_more_block").append('<br/><br/><br/><label class="col-lg-2 control-label" style="margin-left: -60px;">Upload Image : </label><input id="banner_file" class="form-control" type="file" style="float:left; width: 52%;" name="banner[][file]"> <label class="col-lg-2 control-label"style="width: 93px;margin-left: -40px;">Featured : </label><select id="banner_feature" class="form-control dropdown_form" name="banner[][feature]"><option value="1">Yes</option><option value="0">No</option></select>');
    var add_more = $(".add_more_block").height();
    $(".add_more_block").css("height", add_more+50)
  })


  $(document).ready(function(){
    $("#event_s_date" ).datepicker();
    $('#event_s_date').datepicker("option", "dateFormat", 'yy-mm-dd')

    $("#event_e_date" ).datepicker();
    $('#event_e_date').datepicker("option", "dateFormat", 'yy-mm-dd')

    $('#event_s_time').timepicker();
    $('#event_e_time').timepicker();

    var add_more = $(".add_more_block").height();
    $(".add_more_block").css("height", add_more+40)

    $('.dateselect-time').timepicker();
  });

  

  
</script>
