<div id="host_block" >
  <% if !@event.event_users.where(event_type: "Host").first.nil? %>
  <% if !@event.nil? %>
  <% @user1 = @event.event_users.where(event_type: "Host").first.user %>
  <% @host = @event.event_users.where(event_type: "Host").first %>
  <% else %>
  <% @user1=current_user %>
  <% end %>
  <div style ="margin-top:-11px">
    <%= link_to @user1.name, user_profile_path(id: @user1.id) if !@user1.nil? %>
  </div>
      <br>
      <% if !@user1.avatar.blank? %>
      <%=  link_to(image_tag(@user1.avatar.url, :style=>"max-width: 75%; max-height: 160px;"),user_profile_path(id: @user1.id) ) if !@user1.nil? %> <br />
      <% else %>
        <%= image_tag "../assets/missing.png" ,:style=>"max-width: 75%; max-height: 160px;" %><br/>  
      <% end %>
      <% if !user_signed_in?  %>
        <br/>
        <%= link_to "Contact", "#", :class=>"btn btn-info open_my_modal", :id=>"Contact Host"  %>
      <% elsif !@event.nil? && @event.user_id != current_user.id %>
        <br/>
        <%= link_to "Contact", "#", :class=>"btn btn-info open_my_modal", :id=>"Contact Host"  %>
      <% end %>
      <br/>
      <% else %>
      <% end %>
    </div >