<div style="float: left; width: 72%;">
  <div class="event_box">
    <h2>  <%= best_in_place @event,:title,:path=> "/events/#{@event.id}" %> </h2>

    <div class="banner_block">
    	<%= render "event_banners" %>
    </div>

		<br/><br/>
    <p><b> Start </b>
    <%= @event.s_date.to_formatted_s(:rfc822)  %>   <%= @event.s_time.strftime("%I:%M%p") %>
    <b style="margin-left: 50px"> to </b>       
    <div style="margin-top: -27px; margin-left: 265px">
      <b>  End </b>
      <%= @event.e_date.to_formatted_s(:rfc822) if !@event.e_date.nil? %>
      <%= @event.e_time.strftime("%I:%M%p") %></p>
    </div>

    <p><%= best_in_place @event,:description,:path=> "/events/#{@event.id}" , type: :textarea%> </p>
  </div>

  <div class="event_box">
    <h4>  Speakers/Mentors </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @speakers.each_with_index do |speaker, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(speaker.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px; height: 80px;" %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="button_block">
    <!-- Button trigger modal -->
      <button class="btn btn-info open_my_modal" data-toggle="modal" data-target="#myModal" id="Become Speaker" >
        Apply
      </button>
    </div>
  </div>

  <br/>
  <div  class="event_box">
    <h4> Partner  </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @partners.each_with_index do |partner, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(partner.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px;height: 80px;" %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="button_block">
      <button class="btn btn-primary open_my_modal" data-toggle="modal" data-target="#myModal" id="Become Partner" >
        Partner
      </button>
    </div>
  </div>
  <br/>
  <div  class="event_box">
    <h4> Attendees </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @attendee.each_with_index do |attendee, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(attendee.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px;height: 80px; " %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>  
    </div>
    <div class="button_block"> 
      <button class="btn btn-success open_my_modal" data-toggle="modal" data-target="#myModal" id="Attend event" >
        Attend
      </button>
    </div>
  </div>
</div>

<div style="float: right; width: 25%; border-left: 1px solid; text-align:center">
  <div style="margin-left:20px">
    <div class="event_box">
      <h4>  Host </h4>
      <%= best_in_place current_user,:name,:path=> "/users" %><%= image_tag("edit1.png", :style=>"width: 15px;") %>
      <br/><br/>
      <%= image_tag current_user.avatar.url(:thumb), :style=>"width: 75%; height: 160px;" %><br/>
      <br/>
    </div>

    <div class="event_box">
      <h4>  Venue </h4>
      <%= image_tag "Fantasy_wallpapers_174.jpg", :style=>"width: 75%; height: 160px;" %>   

      <h5> Address </h5> <%= current_user.address %><br/><br/>
      <b> City </b> <%= City.find(User.find(@event.user_id).city_id).name %> <br/><br/>
      <img src="http://maps.google.com/maps/api/staticmap?size=155x155&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= City.find(current_user.city_id).name %>,IN" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img> 
    </div>
  </div>
</div>
<style>

.event_box{
  border-bottom: 1px solid;
}

.col-md-9{
   border: 1px solid !important;
   width: 72%;
}

.col-md-pull-9{
  right: 71%;
}

.col-md-push-3{
  left: 26%
}


#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.table_block{
  width: 85%;
}
.button_block{
  float: right; 
  margin-top: -100px;
}

</style>

<script type="text/javascript" charset="utf-8">

  $(".add_more").click(function(){
	  $(".add_more_block").append('<label class="col-lg-2 control-label" style="width: 75px;">Banner: </label><input id="banner_file" class="form-control" type="file" style="float:left; width: 46%;" name="banner[][file]"> <label class="col-lg-2 control-label"style="width: 93px;">Featured : </label><select id="banner_feature" class="form-control dropdown_form" style="width: 170px; " name="banner[][feature]"><option value="1">Yes</option><option value="0">No</option></select><br/>');
	})

</script>

