<h1>Listing events</h1>

<table id="events" class="display">
  <thead>
    <tr>
      <th>Start Date & Time</th>
      <th>End Date & Time</th>
      <th>Event</th>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    <% current_user.events.each do |event| %>
      <tr>
        <td><%= event.s_date.strftime("%B %d, %Y") if !event.s_date.nil?  %>   <%= event.s_time %></td>
        <td><%= event.e_date.strftime("%B %d, %Y") if !event.e_date.nil? %>   <%= event.e_time %></td>
        <td><%= event.title %></td>
        
        <td><%=  City.find(User.find(event.event_users.where(event_type: "Venue").first.user_id).city_id).name %></td>
        <td><%= link_to(image_tag("edit1.png", :style=>"width: 15px;"), event ) %></td>
        <td>
          <%= link_to "", destroy_event_path(event),:class=>"fa fa-times" %>

          <%#= link_to "",activity_activity_form_path,:id=>"activity_form_show",:class=>"fa fa-plus fa-2x"%>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="float:right">
  <%= link_to( image_tag("plus.png"), "#" ,:title=>"Add a new Event", :id=>"add_new_event") %>
</div>

<script>
$("#add_new_event").click(function(){
  var signed_in = '<%= user_signed_in? %>'

    if(signed_in == "true") {
      $(".search_event").html("<%= escape_javascript(  render :partial => 'events/form' ) %>")
    }
    else{
      alert("You must login to continue");
      return false; 
    }
  })

</script>