<h1>Listing events</h1>

<table id="events" class="display">
  <thead>
    <tr>
      <th>Start Date & Time</th>
      <th>End Date & Time</th>
      <th>Event</th>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.s_date.to_formatted_s(:rfc822)  if !@event.s_date.nil?  %>   <%= event.s_time.strftime("%I:%M%p") %></td>
        <td><%= event.e_date.to_formatted_s(:rfc822) if !event.e_date.nil? %><%= event.e_time.strftime("%I:%M%p") %></td>
        <td><%= event.title %></td>
        <td><%= City.find(User.find(event.user_id).city_id).name %></td>
        <td><%= link_to(image_tag("edit.png", :style=>"width: 15px;"), events_edit_path(event)) %></td>
        <td><%= link_to(image_tag("trash.png", :style=>"width: 15px;"), events_delete_path(event)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="float:right">
  <%= link_to( image_tag("plus.png"), new_event_path ,:title=>"Add a new Event") %>
</div>