<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Note to Event Organiser</h4>
      </div>
      <%= form_for @interaction, :url=>event_interaction_path, :remote=>true do |f| %>
        <div class="modal-body">
          <label class="col-lg-2 control-label" style="margin-top:10px">Subject </label>
          <%= f.text_field "action",:class=>"form-control dynamic_action", :style=>"float:left; width: 30%;", :disabled=>true %>
          <%= f.hidden_field :action, :class=>"dynamic_action" %>
          <%= f.hidden_field :event_id, :value=>@event.id %>
          <%= f.hidden_field :user_id, :value=>current_user.id %>
          <label class="col-lg-2 control-label" style="width: 93px;margin-top:10px">Event </label> 
          <%= text_field_tag "event_id", @event.title,:class=>"form-control", :style=>"float:left; width: 30%;", :disabled=>true %>
          <br/>
          <br/>
          <br/>
          <%= f.text_area :memo , :style=>"width: 566px; height: 95px;"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Send", :class=>"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div style="float: left; width: 72%;">
  <div class="event_box">
    <h2>  <%= @event.title %> </h2>

    <div id="slideshow">
      <% @banners.each_with_index do |banner, index| %>
        <% if index == 0 %>
          <%= image_tag banner.file.url(:medium),:class=>"active", :style=>"width: 100%; height: 300px" %>
        <% else %>
          <%= image_tag banner.file.url(:medium), :style=>"width: 100%; height: 300px" %>
        <% end %>
      <% end %>
    </div>
    <p><b> Start </b>
    <%= @event.s_date.to_formatted_s(:rfc822)  %>   <%= @event.s_time.strftime("%I:%M%p") %>
    <b style="margin-left: 50px"> to </b>       
    <div style="margin-top: -27px; margin-left: 265px">
      <b>  End </b>
      <%= @event.e_date.to_formatted_s(:rfc822) if !@event.e_date.nil?%>
      <%= @event.e_time.strftime("%I:%M%p") %></p>
    </div>

    <p><%= @event.description %></p>
  </div>

  <div class="event_box">
    <h4>  Speakers/Mentors </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @speakers.each_with_index do |speaker, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(speaker.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px; height: 80px;" %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <% if @speakers.blank? %> 
      <div class="button_block" style="margin-top:-55px"> 
    <% else %>  
      <div class="button_block" style="margin-top:-100px">
    <% end %>
    
    <!-- Button trigger modal -->
      <button class="btn btn-info open_my_modal" data-toggle="modal" data-target="#myModal" id="Become Speaker" >
        Apply
      </button>
    </div>
  </div>

  <br/>
  <div  class="event_box">
    <h4> Partner  </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @partners.each_with_index do |partner, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(partner.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px;height: 80px;" %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <% if @partners.blank? %> 
      <div class="button_block" style="margin-top:-55px"> 
    <% else %>  
      <div class="button_block" style="margin-top:-100px">
    <% end %>
      <button class="btn btn-primary open_my_modal" data-toggle="modal" data-target="#myModal" id="Become Partner" >
        Partner
      </button>
    </div>
  </div>
  <br/>
  <div  class="event_box">
    <h4> Attendees </h4>
    <div class="table_block">
      <table class="table">
        <tr>
          <% @attendee.each_with_index do |attendee, index| %>
            <% if index+1 == 6 %> </tr><tr> <% end %>
            <td style="text-align:center">
              <% @user = User.find(attendee.user_id) %>
              <%= image_tag @user.avatar.url(:thumb), :style=>"width: 100px;height: 80px; " %> <br/>
              <b><%= @user.name %></b>
            </td>
          <% end %>
        </tr>
      </table>  
    </div>
    <% if @attendee.blank? %> 
      <div class="button_block" style="margin-top:-55px"> 
    <% else %>  
      <div class="button_block" style="margin-top:-100px">
    <% end %>
      <button class="btn btn-success open_my_modal" data-toggle="modal" data-target="#myModal" id="Attend event" >
        Attend
      </button>
    </div>
  </div>
</div>

<div style="float: right; width: 25%; border-left: 1px solid; text-align:center">
  <div style="margin-left:20px">
    <div class="event_box">
      <h4>  Host </h4>
      <%= current_user.name %><br/><br/>
      <%= image_tag current_user.avatar.url(:thumb), :style=>"width: 75%; height: 160px;" %><br/><br/>
      <button class="btn btn-info open_my_modal" data-toggle="modal" data-target="#myModal" id="Contact Host" >
        Contact
      </button>
      <br/>
      <br/>
    </div>

    <div class="event_box">
      <h4>  Venue </h4>
      <%= image_tag "Fantasy_wallpapers_174.jpg", :style=>"width: 75%; height: 160px;" %><br/><br/>
      <%= @event.twitter_hash_tag %><br/><br/>
      <b> Address </b> <br/><%= current_user.address %><br/><br/>
      <b> City </b> <%= City.find(User.find(@event.user_id).city_id).name %> <br/><br/>
      <img src="http://maps.google.com/maps/api/staticmap?size=155x155&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= City.find(current_user.city_id).name %>,IN" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img> 
    </div>
  </div>
</div>

<style>

.event_box{
  border-bottom: 1px solid;
}

.col-md-9{
   border: 1px solid !important;
   width: 72%;
}

.col-md-pull-9{
  right: 71%;
}

.col-md-push-3{
  left: 26%
}


#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.table_block{
  width: 85%;
}
.button_block{
  float: right;
}
  
</style>

<script type="text/javascript" charset="utf-8">
  function slideSwitch() {
    var $active = $('#slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');

    $active.addClass('last-active');
        
    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
  }

  $(function() {
    setInterval( "slideSwitch()", 2000 );
  });


  $(document).on("click", ".open_my_modal", function () {
    var myModalAction = $(this).attr('id');
    $(".dynamic_action").val(myModalAction);
  });

</script>

