<!-- Modal -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Note to Event Organiser</h4>
      </div>
      <%= form_for @interaction, :url=>event_interaction_path, :remote=>true do |f| %>
        <div class="modal-body">
          <label class="col-lg-2 control-label">Subject </label>
          <%= f.text_field "action",:class=>"form-control dynamic_action", :disabled=>true %>
          <%= f.hidden_field :action, :class=>"dynamic_action" %>
          <%= f.hidden_field :event_id, :value=>@event.id %>
          <%= f.hidden_field :user_id, :value=>current_user.id if user_signed_in? %> 
          <label class="col-lg-2 control-label" id="control-label">Event </label> 
          <%= text_field_tag "event_id", @event.title,:class=>"form-control", :style=>"float:left; width: 30%;", :disabled=>true %>
          <br/>
          <br/>
          <br/>
          <%= f.text_area :memo ,:class=>"memo" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Send", :class=>"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="title">
  <div class="event_box_title">
    <h2>  
      <% if !user_signed_in?  %>
        <%= @event.title %>

      <% elsif @event.user_id != current_user.id %> 
        <%= @event.title %>
        
      <% else %>
        <%= best_in_place @event,:title,:path=> "/events/#{@event.id}", :activator => "#edit_title"  %><%= link_to "","#",:class=>"fa fa-pencil-square-o",  :id=>"edit_title" %>
      <% end %>
    </h2>
    <div class="banner_block">
      <% if @banners.count == 0%>
      <%= image_tag "/assets/no_banner.png",:class=>"active",:style=>"width: 100%; height: 300px",:id=>"banner" %>    
      <% elsif @banners.count == 1 %>
      <% @banners.each_with_index do |banner, index| %>
          <% if index == 0 %>
            <%= image_tag banner.file.url(:medium),:class=>"active", :style=>"width: 100%; height: 300px" %>
          <% else %>
            <%= image_tag banner.file.url(:medium), :class=>"banner" %>
          <% end %>
          <% end %>
        <% else %>
          <div id="slideshow">
            <% @banners.each_with_index do |banner, index| %>
              <% if index == 0 %>
                <%= image_tag banner.file.url(:medium),:class=>"active", :style=>"width: 100%; height: 300px" %>
              <% else %>
                <%= image_tag banner.file.url(:medium) ,:class=>"banner"%>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <% if user_signed_in? && @event.user_id == current_user.id %> 
        <%= link_to "","#", :id=>"edit_banners",:class=>"edit_banners fa fa-pencil-square-o" %> 
      <% end %>
    </div>
    <br/>
    <br/>
    <div>
      <p><b> Start </b>
        <% if !user_signed_in?  %>
          <%= @event.s_date.strftime("%e %b %Y")  if !@event.s_date.nil?  %>
          <%= @event.s_time.to_time.strftime("%r") %>
        <% elsif @event.user_id != current_user.id %>
          <%= @event.s_date.strftime("%e %b %Y")  if !@event.s_date.nil?  %>
          <%= @event.s_time.to_time.strftime("%r") %>
        <% else %>
          <%= best_in_place @event,:s_date, :type => :date,:display_with => Proc.new { |f| f.strftime("%B %d, %Y") },:path=> "/events/#{@event.id}", :activator => "#edit_s_date" %>
          <%= link_to "","#",:class=>"fa fa-pencil-square-o",:id=>"edit_s_date" %>
        <% end %> 
        <% if user_signed_in? && @event.user_id == current_user.id %>          
          <%= best_in_place @event, :s_time, :type => :input, :activator => "#edit_s_time" %>
          <%= link_to "","#",:class=>"fa fa-pencil-square-o" ,:id=>"edit_s_time" %>
        <% end %>
      <b class="to"> to </b>      
    </div> 
    <div class="end">
      <b>  End </b>
        <% if !user_signed_in?  %>
          <%= @event.e_date.strftime("%B %d, %Y") if !@event.e_date.nil?  %>
          <%= @event.e_time.to_time.strftime("%r") if !@event.e_time.nil?  %>
        <% elsif @event.user_id != current_user.id %>
          <%= @event.e_date.strftime("%B %d, %Y") if !@event.e_date.nil?  %>
          <%= @event.e_time.to_time.strftime("%r") if !@event.e_time.nil?  %>
        <% else %>
          <%= best_in_place @event,:e_date,:type => :date,:display_with => Proc.new { |f| f.strftime("%B %d, %Y") },:path=> "/events/#{@event.id}", :activator => "#edit_e_date" %>
          <%= link_to "","#",:class=>"fa fa-pencil-square-o", :id=>"edit_e_date" %>
        <% end %>
        <% if user_signed_in? && @event.user_id == current_user.id %>       
          <%= best_in_place @event, :e_time, :type => :input, :activator => "#edit_e_time" %>
          <%= link_to "","#",:class=>"fa fa-pencil-square-o", :id=>"edit_e_time" %>
        <% end %>
        <%if !@event.eventbrite_id.blank? %>
        <%= link_to(image_tag("../assets/eventbrite_logo.png", :style=>"width:25px;float:right"),"#{@event.eventbrite_url}",:target=>"blank") %>
        <% end %>        
    </p>
    </div>
      
      <p><b class="description">Description</b>
      <% if !user_signed_in?  %>
        <%= @event.description %>
      <% elsif @event.user_id != current_user.id %> 
        <%= @event.description %>
      <% else %>
      <%= link_to "","#",:class=>"fa fa-pencil-square-o",:id=>"edit_description" %>
      <br />
        <%= best_in_place @event,:description,:path=> "/events/#{@event.id}",:type => :textarea , :html_attrs => { :cols => '112', :rows => '6' }, :activator => "#edit_description" %>
        
      <% end %>
    </p>
      

  </div>
  
  <div class="event_box" id="speaker_box">
    <h4>  Speakers/Mentors </h4>
    <div class="table_block" id="speaker_list">
      <%= render "speakers_list" %>
    </div>
      <% if @event.e_date >= Time.now %>
        <% if !user_signed_in? %>
          <div class="button_block" id="speaker_block"> 
            <%= link_to "Apply", "#", :class=>"btn btn-info open_my_modal", :id=>"Become Speaker" %>
            </div>
          <% elsif @event.user_id != current_user.id %> 
          <div class="button_block" id="speaker_block"> 
            <%= link_to "Apply", "#", :class=>"btn btn-info open_my_modal", :id=>"Become Speaker" %>
            </div>
          <% else %>
            <% if !@speakers.blank? %>
              <div class="add_new" id="add_speaker">
                <%= render"add_more_speakers"%>
              </div> 
            <% else %>
              <div class="add_new" id="add_speaker">
                <%= render"add_more_speakers"%>
              </div>
            <% end %>
          <% end %>
      <% else %>
      <% if !user_signed_in? || @event.user_id != current_user.id %>
        <div class="button_block" id="speaker_block"> 
          <%= link_to "Apply", "#", :class=>"btn btn-info open_my_modal", :id=>"Become Speaker",:disabled=>:true %>
         </div>
         <% end %>
      <% end %>
    
  </div>

  <br/>
  <div  class="event_box" id="partner_box">
    <h4> Partner  </h4>
    <div class="table_block"  id="partner_list">
      <%= render "partners_list" %>
    </div>
    
    <% if @event.e_date >= Time.now %>
    <% if !user_signed_in?  %>
      <div class="button_block" id="partner_block"> 
        <%= link_to "Partner", "#", :class=>"btn btn-primary open_my_modal", :id=>"Become Partner" %>
      </div>
    <% elsif @event.user_id != current_user.id %>
      <div class="button_block" id="partner_block"> 
        <%= link_to "Partner", "#", :class=>"btn btn-primary open_my_modal", :id=>"Become Partner" %>
      </div>
    <% else %>
      <% if !@partners.blank? %>
        <div class="add_new" id="partner_block">
            <%= render"add_more_partners"%>
          </div> 
        <% else %>
          <div class="add_new" id="partner_block">
            <%= render"add_more_partners"%>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%if !user_signed_in? || @event.user_id != current_user.id%>
        <div class="button_block" id="speaker_block"> 
          <%= link_to "Partner", "#", :class=>"btn btn-primary open_my_modal", :id=>"Become Speaker",:disabled=>:true %>
        </div>
      <% end %>
      <% end %>
  </div>
  <br/>
  <div  class="event_box" id="attendee_box">
    <h4> Attendees </h4>
    <div class="table_block" id="attendee_list">
      <%= render "attendees_list" %>
    </div>
    <% if @event.e_date >= Time.now %>
      <% if !user_signed_in?  %>
        <div class="button_block" id="attendee_block">
          <%= link_to "Attend", "#", :class=>"btn btn-success open_my_modal" , :id=>"Attend event" %>
        </div>
      <% elsif @event.user_id != current_user.id %>
        <div class="button_block" id="attendee_block">
          <%= link_to "Attend", "#", :class=>"btn btn-success open_my_modal", :id=>"Attend event"  %>
        </div>
      <% else %>
        <% if !@attendee.blank? %>
          <div class="add_new" id="attendee_block">
            <%= render"add_more_attendees"%>
          </div> 
        <% else %>
          <div class="add_new" id="attendee_block">
            <%= render"add_more_attendees"%>
          </div>
        <% end %>
        
      <% end %>
      <% else %>
        <% if !user_signed_in? || @event.user_id != current_user.id %>
          <div class="button_block" id="speaker_block"> 
            <%= link_to "Attendee", "#", :class=>"btn btn-success open_my_modal", :id=>"Become Speaker",:disabled=>:true %>
           </div>
         <% end %>
      <% end %>
  </div>
</div>

<div class="host">
  <div style="margin-left:20px">
    <div class="event_box">
      <h4 >  Host </h4>
      <% if !user_signed_in?  %>
      <% elsif @event.user_id != current_user.id %> 
      <% else %>
        <%= link_to "","#",:class=> "change_host fa fa-pencil-square-o"%>
      <% end %>
      <div id="host_show" >
        <%= render "host"%>
      </div>
    </div>

    <div class="event_box">
      <h4 >  Venue </h4>
      
      <% if !user_signed_in?  %>
      <% elsif @event.user_id != current_user.id %> 
      <% else %>
        <%= link_to "","#", :class=> "change_venue fa fa-pencil-square-o"%>
      <% end %>
      <div id="venue_show" >
       
        <%= render "venue"%>
      <br />
      </div>
      <div id ="event_address">
      <%= render "event_address"%>
      </div>
    </div>
    <div class="event_box">
      <h4>Social Media</h4><br /><br />
      <p>
        <b>twitter#tag</b>
      <% if !user_signed_in?  %>
        <%= @event.twitter_hash_tag %>
      <% elsif @event.user_id != current_user.id %> 
        <%= @event.twitter_hash_tag %>
      <% else %>
        <%= best_in_place @event,:twitter_hash_tag,:path=> "/events/#{@event.id}" ,  :activator => "#edit_twitter_hash_tag" %>
        <%= link_to "","#" ,:class=>"fa fa-pencil-square-o", :id=>"edit_twitter_hash_tag" %><br /><br />
      <% end %>
    </p>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  jQuery(function($){

    $.extend($.fn.timepicker.defaults, { format: '%e %b %Y' });
  });

  $("#s_time").timepicker();
  $("#e_time").timepicker();
  function slideSwitch() {
    var $active = $('#slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');

    $active.addClass('last-active');
        
    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
  }

  $(function() {
    setInterval( "slideSwitch()", 5000 );
  });


  $(document).on("click", ".open_my_modal", function () {
    var signed_in = '<%= user_signed_in? %>'

    if(signed_in == "true") {
      var myModalAction = $(this).attr('id');
      $(".dynamic_action").val(myModalAction);
      $("#interaction_memo").val("");
      $('#myModal').modal({
        show: 'true'
      }); 
    }
    else{
       alertify.alert("You must login to continue");
      return false; 
    }
    
  });

  $("#edit_banners").click(function(){
    $(".banner_block").html("<%= escape_javascript(render :partial => 'event_banners') %> ")
  })


  var event_id = "<%= @event.id %>"

  

  $(".add_more_people").click(function(){
    var block_id = $(this).attr("id");
    if(block_id == "add_speaker"){
      $("#speaker_block").html("<%= escape_javascript(render :partial => 'add_more_speakers')%>")
      $("#dynamic_speaker").val("Speaker")
    }
    else if(block_id == "add_partner"){
      $("#partner_block").html("<%= escape_javascript(render :partial => 'add_more_partners')%>")
      $("#dynamic_partner").val("Partner")
    }
    else if(block_id == "add_attendees"){
      $("#attendee_block").html("<%= escape_javascript(render :partial => 'add_more_attendees')%>")
      $("#dynamic_attendee").val("Attendee")
    }
    
  });
  $(".change_host").click(function(){
    var block_id = $(this).attr("id");

      $("#host_block").html("<%= escape_javascript(render :partial => 'events/change_host')%>")
      $("#dynamic_appplicant").val("change_host")
    });
  $(".change_venue").click(function(){
    var block_id = $(this).attr("id");

      $("#venue_block").html("<%= escape_javascript(render :partial => 'events/change_venue')%>")
      $("#dynamic_appplicant").val("change_venue")
    });
  $(".change_venue").click(function(){
    var block_id = $(this).attr("id");

      $("#venue_block").html("<%= escape_javascript(render :partial => 'events/change_venue')%>")
      $("#dynamic_appplicant").val("change_venue")
    });
  var speakers_height = $("#speaker_list").height();
  var partner_height = $("#partner_list").height();
  var attendee_height = $("#attendee_list").height();

  $("#attendee_box").css("min-height", 200)
  $("#speaker_box").css("min-height", 200)
  $("#partner_box").css("min-height", 200)
</script>