<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Note to Event Organiser</h4>
      </div>
      <%= form_for @interaction, :url=>event_interaction_path, :remote=>true do |f| %>
        <div class="modal-body">
          <label class="col-lg-2 control-label" style="margin-top:10px">Subject </label>
          <%= f.text_field "action",:class=>"form-control dynamic_action", :style=>"float:left; width: 30%;", :disabled=>true %>
          <%= f.hidden_field :action, :class=>"dynamic_action" %>
          <%= f.hidden_field :event_id, :value=>@event.id %>
          <%= f.hidden_field :user_id, :value=>current_user.id if user_signed_in? %> 
          <label class="col-lg-2 control-label" style="width: 93px;margin-top:10px">Event </label> 
          <%= text_field_tag "event_id", @event.title,:class=>"form-control", :style=>"float:left; width: 30%;", :disabled=>true %>
          <br/>
          <br/>
          <br/>
          <%= f.text_area :memo , :style=>"width: 566px; height: 95px;"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Send", :class=>"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div style="float: left; width: 72%;">
  <div class="event_box">
    <h2>  
      <% if !user_signed_in?  %>
        <%= @event.title %>

      <% elsif @event.user_id != current_user.id %> 
        <%= @event.title %>
        
      <% else %>
        <%= best_in_place @event,:title,:path=> "/events/#{@event.id}", :activator => "#edit_title"  %><%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_title") %>
      <% end %>

    </h2>
    <div class="banner_block">
      <div id="slideshow">
        <% @banners.each_with_index do |banner, index| %>
          <% if index == 0 %>
            <%= image_tag banner.file.url(:medium),:class=>"active", :style=>"width: 100%; height: 300px" %>
          <% else %>
            <%= image_tag banner.file.url(:medium), :style=>"width: 100%; height: 300px" %>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? && @event.user_id == current_user.id %> 
        <%= image_tag("edit1.png", :style=>"width: 15px; float:right", :id=>"edit_banners") %> 
      <% end %>
      
    </div>
    <br/>
    <br/>
    <div>
      <p><b> Start </b>
        <% if !user_signed_in?  %>
          <%= @event.s_date.to_formatted_s(:rfc822) if !@event.s_date.nil?  %> 
        <% elsif @event.user_id != current_user.id %> 
          <%= @event.s_date.to_formatted_s(:rfc822) if !@event.s_date.nil?  %> 
        <% else %>
          <%= best_in_place @event,:s_date,:type => :date,:path=> "/events/#{@event.id}", :activator => "#edit_s_date" , :display_with => Proc.new { |f| f.to_formatted_s(:rfc822) } %><%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_s_date") %>
        <% end %>
        <% if !user_signed_in?  %>
          <%= @event.s_time.strftime("%I:%M%p") %>
        <% elsif @event.user_id != current_user.id %> 
          <%= @event.s_time.strftime("%I:%M%p") %>
        <% else %>
          <%= best_in_place @event, :s_time, :type => :input, :display_with => Proc.new { |f| f.strftime("%I:%M%p") }, :activator => "#edit_s_time" %>
          <%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_s_time") %>
        <% end %>
        
      <b style="margin-left: 50px"> to </b>      
    </div> 
    <div style="margin-left: 389px; margin-top: -31px;">
      <b>  End </b>
        <% if !user_signed_in?  %>
          <%= @event.e_date.to_formatted_s(:rfc822) if !@event.e_date.nil?%>
        <% elsif @event.user_id != current_user.id %> 
          <%= @event.e_date.to_formatted_s(:rfc822) if !@event.e_date.nil?%>
        <% else %>
          <%= best_in_place @event, :e_date,:type => :date,:path=> "/events/#{@event.id}", :activator => "#edit_e_date" , :display_with => Proc.new { |f| f.to_formatted_s(:rfc822) } %><%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_e_date") %>
        <% end %>

        <% if !user_signed_in?  %>
          <%= @event.e_time.strftime("%I:%M%p") %>
        <% elsif @event.user_id != current_user.id %> 
          <%= @event.e_time.strftime("%I:%M%p") %>
        <% else %>
          <%= best_in_place @event, :e_time, :type => :input, :display_with => Proc.new { |f| f.strftime("%I:%M%p") }, :activator => "#edit_e_time" %>
          <%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_e_time") %>
        <% end %>

      </p>
    </div>

    <p>
      <% if !user_signed_in?  %>
        <%= @event.description %>
      <% elsif @event.user_id != current_user.id %> 
        <%= @event.description %>
      <% else %>
        <%= best_in_place @event,:description,:path=> "/events/#{@event.id}" , type: :textarea, :activator => "#edit_description" %><%= image_tag("edit1.png", :style=>"width: 15px;", :id=>"edit_description") %>
      <% end %>
    </p>
      

  </div>

  <div class="event_box" id="speaker_box">
    <h4>  Speakers/Mentors </h4>
    <div class="table_block" id="speaker_list">
      <%= render "speakers_list" %>
    </div>

    
      <% if !user_signed_in?  %>
      <div class="button_block" id="speaker_block" style="margin-top:-25px"> 
        <%= link_to "Apply", "#", :class=>"btn btn-info open_my_modal", :id=>"Become Speaker" %>
        </div>
      <% elsif @event.user_id != current_user.id %> 
      <div class="button_block" id="speaker_block" style="margin-top:-25px"> 
        <%= link_to "Apply", "#", :class=>"btn btn-info open_my_modal", :id=>"Become Speaker" %>
        </div>
      <% else %>
        <% if !@speakers.blank? %>
        <div class="button_block" id="speaker_block"> 
          <%= link_to "Add Speaker", "#",:id=>"add_speaker", :class=>"btn btn-info add_more_people", :remote=>true%>
          </div>
        <% else %>
        <div class="button_block" id="speaker_block" style="margin-top:-25px"> 
          <%= link_to "Add Speaker", "#",:id=>"add_speaker", :class=>"btn btn-info add_more_people", :remote=>true%>
          </div>
        <% end %>
        
      <% end %>
    
  </div>

  <br/>
  <div  class="event_box" id="partner_box">
    <h4> Partner  </h4>
    <div class="table_block"  id="partner_list">
      <%= render "partners_list" %>
    </div>
    
    
    <% if !user_signed_in?  %>
      <div class="button_block" id="partner_block"  style="margin-top:-25px"> 
        <%= link_to "Partner", "#", :class=>"btn btn-primary open_my_modal", :id=>"Become Partner" %>
      </div>
    <% elsif @event.user_id != current_user.id %>
      <div class="button_block" id="partner_block"  style="margin-top:-25px"> 
        <%= link_to "Partner", "#", :class=>"btn btn-primary open_my_modal", :id=>"Become Partner" %>
      </div>
    <% else %>
      <% if !@partners.blank? %>
        <div class="button_block" id="partner_block" > 
          <%= link_to "Add Partner", "#",:id=>"add_partner", :class=>"btn btn-primary add_more_people", :remote=>true%>
        </div>
      <% else %>
        <div class="button_block" id="partner_block" style="margin-top:-25px"> 
          <%= link_to "Add Partner", "#",:id=>"add_partner", :class=>"btn btn-primary add_more_people", :remote=>true%>
        </div>
      <% end %>

    <% end %>
  </div>
  <br/>
  <div  class="event_box" id="attendee_box">
    <h4> Attendees </h4>
    <div class="table_block" id="attendee_list">
      <%= render "attendees_list" %>
    </div>

     
      <% if !user_signed_in?  %>
        <div class="button_block" id="attendee_block"  style="margin-top:-25px">
          <%= link_to "Attend", "#", :class=>"btn btn-success open_my_modal" , :id=>"Attend event" %>
        </div>
      <% elsif @event.user_id != current_user.id %>
        <div class="button_block" id="attendee_block"  style="margin-top:-25px">
          <%= link_to "Attend", "#", :class=>"btn btn-success open_my_modal", :id=>"Attend event"  %>
        </div>
      <% else %>
        <% if !@attendee.blank? %>
          <div class="button_block" id="attendee_block">
            <%= link_to "Add Attendees", "#", :id=>"add_attendees", :class=>"btn btn-success add_more_people", :remote=>true%>
          </div>
        <% else %>
          <div class="button_block" id="attendee_block"  style="margin-top:-25px">
            <%= link_to "Add Attendees", "#", :id=>"add_attendees", :class=>"btn btn-success add_more_people", :remote=>true%>
          </div>
        <% end %>
        
      <% end %>
    
  </div>
</div>

<div style="float: right; width: 25%; border-left: 1px solid; text-align:center">
  <div style="margin-left:20px">
    <div class="event_box">
      <h4>  Host </h4>
      <b><%= link_to @event_user.name, user_profile_path(id: @event_user.id) if !@event_user.nil? %></b><br/><br/>
      <%=  link_to(image_tag(@event_user.avatar.url(:thumb), :style=>"width: 75%; height: 160px;"),user_profile_path(id: @event_user.id) ) if !@event_user.nil? %> 
      <br/><br/>
      <% if !user_signed_in?  %>
        <br/>
        <%= link_to "Contact", "#", :class=>"btn btn-info open_my_modal", :id=>"Contact Host"  %>
      <% elsif @event.user_id != current_user.id %>
        <br/>
        <%= link_to "Contact", "#", :class=>"btn btn-info open_my_modal", :id=>"Contact Host"  %>
      <% end %>
      <br/>
      <br/>
    </div>

    <div class="event_box">
      <h4>  Venue </h4>
      <%= image_tag "Fantasy_wallpapers_174.jpg", :style=>"width: 75%; height: 160px;" %><br/><br/>
      <%= @event.twitter_hash_tag %><br/><br/>
      <b> Address </b> <br/><%= @event_user.address if !@event_user.nil? %><br/><br/>
      <b> City </b> <%= City.find(User.find(@event.user_id).city_id).name %> <br/><br/>
      <img src="http://maps.google.com/maps/api/staticmap?size=155x155&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= City.find(@event_user.city_id).name if !@event_user.nil? %>,IN" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img> 
    </div>
  </div>
</div>

<style>

.event_box{
  border-bottom: 1px solid;
}

#slideshow {
    position:relative;
    height:300px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.table_block{
  width: 80%;
  float: left;
}
.button_block{
  float: right;
  text-align:center;
  width: 20%;
}

.token-input-list-facebook, .token-input-dropdown-facebook{
  width: 135px !important;
}
  
</style>

<script type="text/javascript" charset="utf-8">
  function slideSwitch() {
    var $active = $('#slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');

    $active.addClass('last-active');
        
    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
  }

  $(function() {
    setInterval( "slideSwitch()", 2000 );
  });


  $(document).on("click", ".open_my_modal", function () {
    var signed_in = '<%= user_signed_in? %>'

    if(signed_in == "true") {
      var myModalAction = $(this).attr('id');
      $(".dynamic_action").val(myModalAction);
      $("#interaction_memo").val("");
      $('#myModal').modal({
        show: 'true'
      }); 
    }
    else{
      alert("You must login to continue");
      return false; 
    }
    
  });

  $("#edit_banners").click(function(){
    $(".banner_block").html("<%= escape_javascript(render :partial => 'event_banners') %> ")
  })


  var event_id = "<%= @event.id %>"

  $("#best_in_place_event_"+event_id+"_s_time").timepicker();

  $(".add_more_people").click(function(){
    var block_id = $(this).attr("id");
    if(block_id == "add_speaker"){
      $("#speaker_block").html("<%= escape_javascript(render :partial => 'add_more_speakers')%>")
      $("#dynamic_speaker").val("Speaker")
    }
    else if(block_id == "add_partner"){
      $("#partner_block").html("<%= escape_javascript(render :partial => 'add_more_partners')%>")
      $("#dynamic_partner").val("Partner")
    }
    else if(block_id == "add_attendees"){
      $("#attendee_block").html("<%= escape_javascript(render :partial => 'add_more_attendees')%>")
      $("#dynamic_attendee").val("Attendee")
    }
    
  });


  var speakers_height = $("#speaker_list").height();
  var partner_height = $("#partner_list").height();
  var attendee_height = $("#attendee_list").height();

  $("#attendee_box").css("height", attendee_height+40)
  $("#speaker_box").css("height", speakers_height+40)
  $("#partner_box").css("height", partner_height+40)

</script>

