<!DOCTYPE html>
<html>
	<head>
	  <title>TechMeetups</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>

		<div class="row" style="overflow-x: hidden;">
		  
		  <div class="col-md-10 col-md-push-2 search_event">
        <% if alert %>
          <div class="alert alert-dismissable alert-danger" style="font-weight:bold;font-size:12px;" >
            <button type="button" class="close" data-dismiss="alert">×</button><%= alert %>
          </div>
		  	<% end %>
         <% if notice %>
          <div class="alert alert-dismissable alert-danger" style="font-weight:bold;font-size:12px;" ><button type="button" class="close" data-dismiss="alert">×</button><%= notice %>
          </div>
        <% end %>
        <%= yield %>

		  </div>
		  <div class="col-xs-2 col-md-pull-10">
		  	<div class="jumbotron">
		       <h5>Filter Events</h5>		     
		      <div class="list-group list-group-item">
	          <label>
              <%= image_tag "home.png" , :style=>"width: 15px;"%>			     
              <b><%= link_to "All", nil, :id=>"all_events", :remote=>true %></b>	    
				    </label> 
            <br/>
            <label>    
              <%= image_tag "building.png" , :style=>"width: 15px;"%>          
              <b>City</b>       
            </label> 
            <div style="margin-left:10px margin-top:10px">
  	          <% City.all.each do |city|%>		           
  					    <div class="checkbox">
  						    <label>      
  						    	<%= check_box_tag "event[]", city.id, false, :id => "#{city.id}",:class=>'checkbox1' -%> <b><%= city.name %></b>
  						     </label>
  					    </div>

  				    <%end%>
            </div>
		      </div>
        
		    </div>
		  </div>
		  
		</div>
	</body>
</html>

<script>

$('.checkbox1').change(function() {   
  checked_id = []
  checked_count = 0
  $('.checkbox1:checked').each(function() {  
    checked_id[checked_count] = $('.checkbox1:checked')[checked_count].id
    checked_count = checked_count+1
      });
    $.ajax({
        type: "POST",
        url: "/events/event_search",
        data: { id: $(this).attr('id'), checked: checked_id}
     });           
  });
    
// $('.checkbox1').change(function(event) {	
//   if(this.checked) { // check select status         
//   checked_id = []
//   checked_count = 0
//   $('.checkbox1:checked').each(function() { 
//     checked_id[checked_count] = $('.checkbox1:checked')[checked_count].id
   
//   });
//     $.ajax({
//         type: "POST",
//         url: "/events/event_search",
//         data: { id: $(this).attr('id'), checked: checked_id}
//      });            
//   }else{
//       unchecked_id = []
//      unchecked_count = 0
//      $('.checkbox1:checked').each(function() { 
//       unchecked_id[unchecked_count] = $('.checkbox1:unchecked')[uchecked_count].id
//       unchecked_count = unchecked_count+1
//      });           
//     $.ajax({

//         type: "POST",
//         url: "/events/event_search",
//         data: { id: $(this).attr('id'), unchecked:unchecked_id }
//      });  
//     }

//    });
</script>