<!DOCTYPE html>
<html>
	<head>
	  <title>TechMeetsUp</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>

		<div class="row">
		  
		  <div class="col-md-9 col-md-push-3">
		  	<%= yield %>
		  </div>
		  <div class="col-md-3 col-md-pull-9">
		  	<div class="jumbotron">
		      <h4>Events</h4>
		      <div class="list-group">
		        </a>
		        <a href="#" class="list-group-item active">
		          All
		        </a>
		        <a href="#" class="list-group-item">City
		        </a>
		      </div>
		    </div>
		  </div>
		  
		</div>
	</body>
</html>
