<link rel="stylesheet" href="css/font-awesome.min.css">
<!DOCTYPE html>
<html>
	<head>

	  <title>TechMeetups</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
    <div class="container-fluid">
  		<div class="row" style="overflow-x: hidden;">
  		  
  		  <div class="col-md-10 col-md-push-2 search_event">
          <% if alert %>
            <div class="alert alert-dismissable alert-danger" style="font-weight:bold;font-size:12px;" >
              <button type="button" class="close" data-dismiss="alert">×</button><%= alert %>
            </div>
  		  	<% end %>
           <% if notice %>
            <div class="alert alert-dismissable alert-danger" style="font-weight:bold;font-size:12px;" ><button type="button" class="close" data-dismiss="alert">×</button><%= notice %>
            </div>
          <% end %>
          <%= yield %>

  		  </div>
  		  <div class="col-xs-2 col-md-pull-10">
  		  	<div class="jumbotron">
  		       <h5>Filter Events</h5>		     
  		      <div class="list-group list-group-item">
  	          <label>
                <h6 style="font-weight:bold;"><%= image_tag "home.png" , :style=>"width: 15px;"%>			     
                <%= link_to "All", root_url  %></h6>	    
  				    </label> 
              <br/>
              <label>    
                <h6 style="font-weight:bold;"><%= image_tag "building.png" , :style=>"width: 15px;"%>          
                <b>City</b></h6>      
              </label> 
              <div style="margin-left:20px;">
    	          <% City.all.each do |city|%>		           
    					    <div class="checkbox">
    						    <label>      
    						    	<%= check_box_tag "event[]", city.id, false, :id => "#{city.id}",:class=>'checkbox1' -%> <b><%= city.name %></b>
    						     </label>
    					    </div>

    				    <%end%>
              </div>
              <label>    
                <h6 style="font-weight:bold;"><%= image_tag "type.png" , :style=>"width: 15px;"%>          
                <b>Type</b></h6>       
              </label> 
              <div style="margin-left:20px">
                <% EventType.all.each do |event_type|%>               
                  <div class="checkbox">
                    <label>      
                      <%= check_box_tag "event[]", event_type.id, false, :id => "#{event_type.id}",:class=>'checkbox2' -%> 
                      <b><%= event_type.name %></b>
                     </label>
                  </div>

                <%end%>
              </div>
  		      </div>
          
  		    </div>
  		  </div>
  		  
  		</div>
    </div>
	</body>
</html>

<script>

$('.checkbox1').change(function() {   
  checked_id = []
  checked_count = 0
  $('.checkbox1:checked').each(function() {  
    checked_id[checked_count] = $('.checkbox1:checked')[checked_count].id
    checked_count = checked_count+1
      });
    $.ajax({
        type: "POST",
        url: "/events/event_search",
        data: { id: $(this).attr('id'), checked: checked_id}
     });           
  });

$('.checkbox2').change(function() {   
  checked_id = []
  checked_count = 0
  $('.checkbox2:checked').each(function() { 
    checked_id[checked_count] = $('.checkbox2:checked')[checked_count].id
    checked_count = checked_count+1
      });
    $.ajax({
        type: "POST",
        url: "/events/event_search_type",
        data: { id: $(this).attr('id'), checked: checked_id}
     });           
  });


$(".list-group").css("height", $(document).height());
</script>